*{
		margin: 0;
		padding: 0;
	}
    div.header-container{
	    background-color: #0197C5;
	    width: 100%;
    	}
		div.header{
		height: 128px; 
		}
			div.header h1 {
				font-family: "Century Gothic", sans-serif;
				font-size: 50px;
				padding-top: 58px;
				padding-left: 40px;
				line-height: 5px;
				font-weight: 100;
				color: white;
			}
	div.navigation{
		height: 35px;	
	}
div.navigation ul {
    list-style-type: none;
    padding-left: 30px;
    margin: 0;
    background-color: #323537;
    overflow: hidden;
}

div.navigation li {
	display: inline;
    font-family: "Arial";
    font-weight: bold;
}
div.navigation li a {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

div.navigation li a:hover {
    background-color: #ff9900;
    border-left: 5px solid white;
}

div.navigation img{
	float: right;
	padding-right: 32px;
	padding-top: 12.5px;
	
}
	div.body{
		font-family: "Calibri", sans-serif;
		margin-left: 72px;
		padding-top: 4%;
	}
	div.body h1{
		font-family: "Century Gothic", sans-serif;
		font-weight: 500;
	}
	div.body p{
		font-size: 18px;
		max-width: 70%;
		padding-top: 10px;
	}
div.news-container{
	border-style: solid;
	border-width: 0.01;
	border-color: #868686;
  	line-height: 38px;
  	max-width: 95%;
  	overflow: hidden;
  	width:55%;
}
div.news-container ul{
	list-style-type: none;
	padding-bottom: 20px;
	padding-left: 10px;
}
div.news-container h2{
	padding-left: 10px;
	padding-top: 3px;
}
div.news-container li {
  padding-left: 15px;
}
div.news-container li:before {
  content: "-";
  padding-right: 15px;
  }
  div.welcome-container{
  	max-width: 80%;
  	padding-top: 2.5%;
  	text-align: justify;

  }
  div.welcome-container h2{
  	padding-bottom: 10px;
  }
  div.welcome-container p{
  	padding-bottom: 12px;
  }
  h2{
  	font-family: "Arial",sans-serif;
  	font-weight: 200;
  	font-size: 24px;
  }
 
 label{
	display: inline-block;
    width: 250px;
    text-align: left;
}
div.career-form label{
	width: 120px;
}
div.form div, div.career-form{
	padding-top: 15px;
	padding-bottom: 10px;
}
div.radio-button{
	display: inline-table;
}
input, textarea{
	border: 1px solid black;
}
select{
	width: 172px;
}
input, select{
	padding: 5px;
}
